* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    color: #444;
    background: #ffe7e3;
    text-align: center
}

.love, .yes, .no {
    padding-top: 12%;
}
h2{font-size: 72px; margin-bottom: 30px;}

.love span{
    color: #fc9786;
}

.love a{
    text-decoration: none;
    background: #eee;
    padding: 5px;
    margin: 5px 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
}

#no {
    color: red;
}

#yes {
    color: green;
}
.yes img{ height: 40px;width: 40px;}

@keyframes heartt{
    0%{transform:scale(.5);}
    50%{transform:scale(.5);}
    100%{transform:scale(.5);}
}

.backs{
    padding-top: 8%;
}

.backs a{
    text-decoration: none;
    background: #eee;
    padding: 5px;
    margin: 5px 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
}
#back{
    color: red;
}

.rounded{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}